{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.
{deps, [
  {eredis, "", {git, "https://github.com/wooga/eredis.git", {branch, master}}, [raw]},
  {lager, "", {git, "https://github.com/basho/lager.git", {branch, master}}, [raw]},
  {uuid, "*", {git, "git://gitorious.org/avtobiff/erlang-uuid.git", {branch, master}}, [raw]},
  {erlzmq2, "*", {git, "https://github.com/zeromq/erlzmq2.git", {branch, master}}, [raw]},
  {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", "master"}}
]}.
{erl_opts, [{parse_transform, lager_transform}]}.
